article {
    width: 250px;
    height: 400px;
    background-color: white;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
    box-sizing: border-box;
}

.image-container {
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
}

img {
    width: 100%;
}

.price {
    padding-left: 20px;
    font-size: 20px;
}

.title {
    padding-left:20px;
    font-size: 13px;
}

button {
    margin-left: 20px;
}

