article {
    width: 250px;
    height: auto;
    background-color: white;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.image-container {
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    height: 60%;
    padding-bottom: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    min-height: 200px;
    max-height: 200px;
}

.price {
    padding-left: 20px;
    font-size: 20px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.free-shipping {
    color: rgb(0, 155, 0);
    margin-right: 40px;
}

.title {
    padding-left:20px;
    padding-right: 20px;
    font-size: 12px;
}

button {
    margin-left: 20px;
    width: 100px;
}

