nav {
    background-color: #232f3e;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav-title {
    color: white;
    margin: 20px 70px;
}

span {
    color: #febd69;
}

.input-container {
    width: 40%;
}